# Target e artefatos Maven / Compilação
target/
bin/
!.mvn/wrapper/maven-wrapper.jar

# Compilação Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse IDE
.classpath
.project
.settings/
.factorypath
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# NetBeans
nbproject/
build/
dist/

# Logs e relatórios
*.log
hs_err_pid*
replay_pid*
HELP.md

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
